@page "/about"

@model AboutViewModel

@{
    ViewData["Title"] = "About";
}

<h2>@ViewData["Title"]</h2>

<div>
    <h3>Application Information</h3>
    
    <div class="app-info-item">
        <div>Assembly name:</div>
        <div>@Model.ApplicationInformation.AssemblyName</div>
    </div>

    <div class="app-info-item">
        <div>Assembly version:</div>
        <div>@Model.ApplicationInformation.AssemblyVersion</div>
    </div>

    <div class="app-info-item">
        <div>DotNet version:</div>
        <div>@Model.ApplicationInformation.DotNetVersion</div>
    </div>    
    
    <div class="app-info-item">
        <div>Environment:</div>
        <div>@Model.ApplicationInformation.Environment</div>
    </div>    
    
    <div class="app-info-item">
        <div>Runtime identifier:</div>
        <div>@Model.ApplicationInformation.RuntimeIdentifier</div>
    </div>

    <div class="app-info-item">
        <div>Remote IP Address:</div>
        <div>@Model.RemoteIpAddress</div>
    </div>    

    <div class="app-info-item">
        <div>Local IP Address:</div>
        <div>@Model.LocalIpAddress</div>
    </div>        
</div>

<div>
    <h3>User Authentication Information</h3>

    <ul>
        @foreach (var claim in Model.Claims)
        {
            <li class="claim-list-item">
                <div>
                    @claim.Type:
                </div>

                <div>
                    @claim.Value
                </div>
            </li>
        }
    </ul>
</div>

<div>
    <h3>Properties</h3>

    <ul>
        @foreach (var property in Model.Properties)
        {
            <li class="claim-list-item">
                <div>
                    @property.Key:
                </div>

                <div>
                    @property.Value
                </div>
            </li>
        }
    </ul>
</div>


<style>
    .app-info-item {
        display: flex;
    }

    .claim-list-item {
        display: flex;
    }
</style>