@page "/errors"

@model ErrorViewModel

@{
    ViewData["Title"] = "Error";
}

<div>
    <div>
        RequestId: @Model.RequestId
        Title: @Model.Title
        Detail: @Model.Detail
        Status: @Model.Status
        Type: @Model.Type
    </div>
</div>