@page
@model ClientDetailsViewModel

@{
}

<fluent-breadcrumb class="breadcrumb">
  <fluent-breadcrumb-item href="/">Home</fluent-breadcrumb-item>
  <fluent-breadcrumb-item href="/Clients/Index">Clients</fluent-breadcrumb-item>
  <fluent-breadcrumb-item>@Model.Id</fluent-breadcrumb-item>
</fluent-breadcrumb>

<fluent-card class="card-client-details">
    <h3>@Model.Client.ClientName (@Model.Client.ClientId)</h3>
    <p>@Model.Client.Description</p>

    <div>
      <label>Enabled: @Model.Client.Enabled</label>
    </div>

    <div>
      <label>Description: @Model.Client.Description</label>
    </div>

    <div>
      <label>Protocol Type: @Model.Client.ProtocolType</label>
    </div>
    
    <div>
      <label>Require Client Secret: @Model.Client.RequireClientSecret</label>
    </div>
    
    <div>
      <label>Require Pkce: @Model.Client.RequirePkce</label>
    </div>
    
    <div>
      <label>Allow PlainText Pkce: @Model.Client.AllowPlainTextPkce</label>
    </div>

    <div>
      <label>Allow Offline Access: @Model.Client.AllowOfflineAccess</label>
    </div>

    <div>
      <label>Allow Access Tokens Via Browser: @Model.Client.AllowAccessTokensViaBrowser</label>
    </div>

    <div>
      <label>Uri: @Model.Client.ClientUri</label>
    </div>

    <div>
      <label>Required Consent: @Model.Client.RequireConsent</label>
    </div>

    <div>
      <label>Access Token Lifetime: @Model.Client.AccessTokenLifetime seconds</label>
    </div>
</fluent-card>   

<fluent-card>
  <fluent-tabs activeid="allowed-scopes">
      <fluent-tab id="allowed-scopes">Allowed Scopes</fluent-tab>
      <fluent-tab id="allowed-grant-types">Allowed Grant Types</fluent-tab>
      <fluent-tab id="redirect-uris">Redirect Uris</fluent-tab>
      <fluent-tab id="secrets">Secrets</fluent-tab>
      <fluent-tab id="properties">Properties</fluent-tab>
      
      <fluent-tab-panel id="allowed-scopes-content">
        <ul>
          @foreach (var scope in Model.Client.AllowedScopes)
          {
            <li>@scope</li>
          }
        </ul>
      </fluent-tab-panel>

      <fluent-tab-panel id="allowed-grant-types-content">
        <ul>
          @foreach (var grantType in Model.Client.AllowedGrantTypes)
          {
            <li>@grantType.Replace("_", " ").ToUpperInvariant()</li>
          }
        </ul>
      </fluent-tab-panel>
      
      <fluent-tab-panel id="redirect-uris-content">
        <ul>
          @foreach (var uri in Model.Client.RedirectUris)
          {
            <li>@uri</li>
          }
        </ul>      
      </fluent-tab-panel>
      
      <fluent-tab-panel id="secrets-content">
        <ul>
          @foreach (var secret in Model.Client.ClientSecrets)
          {
            <li>@secret.Value</li>
          }
        </ul>   
      </fluent-tab-panel>
      
      <fluent-tab-panel id="properties-content">
        @if (Model.Client.Properties.Count == 0)
        {
          <p>No properties</p>
        }
        else
        {
          <ul>
            @foreach (var property in Model.Client.Properties)
            {
              <li>@property.Key: @property.Value</li>
            }
          </ul>
        }
      </fluent-tab-panel>    
  </fluent-tabs>
</fluent-card>