@page 
@model ListClientsViewModel
@{
    ViewData["Title"] = "Clients";
}

<h1>Clients</h1>

<table class="table-responsive">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Require Secret</th>
            <th>Require Consent</th>
            <th>Require Pkce</th>
            <th>Allow Offline Access</th>
            <th>Allowed Scopes</th>
            <th>Allowed Grant Types</th>
            <th>Redirect Uris</th>
            <th>Post Logout Redirect Uris</th>
            <th>Actions</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var client in Model.Clients)
        {
            <tr>
                <td>@client.ClientId</td>
                <td>@client.ClientName</td>
                <td>@client.RequireClientSecret</td>
                <td>@client.RequireConsent</td>
                <td>@client.RequirePkce</td>
                <td>@client.AllowOfflineAccess</td>
                <td>@string.Join(",", client.AllowedScopes.Select(scope => scope))</td>
                <td>@string.Join(",", client.AllowedGrantTypes.Select(type => type.ToString()))</td>
                <td>@string.Join(",", client.RedirectUris.Select(uri => uri))</td>
                <td>@string.Join(",", client.PostLogoutRedirectUris.Select(uri => uri))</td>
                <td>
                    <a class="btn btn-primary">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
