@page
@model IndexViewModel

@inject ICurrentUser CurrentUser

@{
    ViewData["Title"] = "Home page";
}

<h1>
    Welcome to @ApplicationInfo.GetDisplayName()
</h1>

@if (CurrentUser.IsAuthenticated)
{
    <h2>Claims</h2>

    <table class="table">
        <tbody>
            <tr>
                <th>Type</th>
                <th>Value</th>
            </tr>
            @foreach (var claim in Model.User.Claims)
            {
                <tr>
                    <th>@claim.Type</th>
                    @if (claim.Type == "auth_time")
                    {
                        long.TryParse(claim.Value, out var seconds);
                        
                        if (seconds != default)
                        {
                            <td>@DateTimeOffset.FromUnixTimeSeconds(seconds).ToString("yyyy-MM-dd HH:mm:ss")</td>       
                        }
                    }
                    else
                    {
                        <td>@claim.Value</td>
                    }
                </tr>
            }
        </tbody>
    </table>

    <h2>Properties</h2>

    <table class="table">
        <tbody>
            <tr>
                <th>Key</th>
                <th>Value</th>
            </tr>
            @foreach (var property in Model.Properties.Items)
            {
                <tr>
                    <th>@property.Key</th>
                    
                    @if (property.Key == ".issued" || property.Key == ".expires")
                    {
                        DateTimeOffset.TryParse(property.Value ?? string.Empty, out var datetime);

                        if (datetime != default)
                        {
                            <td>@datetime.ToString("yyyy-MM-dd HH:mm:ss")</td>
                        }
                    }
                    else
                    {
                        <td>@property.Value</td>
                    }
                </tr>
            }
        </tbody>
    </table>
}
else
{
}
