@page "/identity/sign-in"
@model SignInViewModel
@{
    ViewData["Title"] = "Sign In";
}

<h2>@ViewData["Title"]</h2>

<div class="row">
    <div class="col-md-4">
        <form id="account" method="post">
            <h3>Sign in with credentials</h3>
            <hr />
            
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            
            <div class="form-floating mb-3">
                <input asp-for="Email" class="form-control" autocomplete="email" aria-required="true" placeholder="example@domain.com" />
                <label asp-for="Email" class="form-label">Email</label>
                @* <span asp-validation-for="Email" class="text-danger"></span> *@
            </div>
            
            <div class="form-floating mb-3">
                <input asp-for="Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="password" />
                <label asp-for="Password" class="form-label">Password</label>
                @* <span asp-validation-for="Password" class="text-danger"></span> *@
            </div>

            <div class="checkbox mb-3">
                <label asp-for="RememberMe" class="form-label">
                    <input class="form-check-input" asp-for="RememberMe" />
                    @Html.DisplayNameFor(m => m.RememberMe)
                </label>
            </div>

            <div>
                <button type="submit" asp-page-handler="SignIn">Sign In</button>
                <button asp-page-handler="Cancel">Cancel</button>
            </div>

            <div>
                <p>
                    <a id="sign-up" asp-page="./signUp" asp-route-returnUrl="@Model.ReturnUrl">Sign up as a new user</a>
                </p>
                <p>
                    <a id="forgot-password" asp-page="./forgotPassword">Forgot your password?</a>
                </p>
                    <a id="resend-confirmation" asp-page="./resendEmailConfirmation">Resend email confirmation</a>
                </p>
            </div>
        </form>
    </div>

    <div class="col-md-6 col-md-offset-2">
        <section>
            <h3>Sign in with external providers.</h3>
            <hr />
            @{
                if (!Model.ExternalSchemes.Any())
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">article
                            about setting up this ASP.NET application to support logging in via external services</a>.
                        </p>
                    </div>
                }
                else
                {
                    <div>
                        @foreach (var provider in Model.ExternalSchemes)
                        {
                            <a title="Log in using your @provider.DisplayName account"
                                asp-page="./challenge" 
                                asp-route-returnUrl="@Model.ReturnUrl" 
                                asp-route-authenticationProvider="@provider.Name">
                                <fluent-button appearance="accent">
                                    Sign in with @provider.DisplayName
                                </fluent-button>
                            </a>
                        }
                    </div>
                }
            }
        </section>
    </div>
</div>

@* 
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
} *@
