@page
@model DiagnosticsViewModel

@{
    ViewData["Title"] = "Diagnostics";
}

<h1>Diagnostics</h1>

<fluent-card>
    <h4>Current User Information</h4>

    <table class="table">
        <tbody>
            <tr>
                <th>User Id</th>
                <td>@Model.CurrentUser.Id</td>
            </tr>
            <tr>
                <th>Authentication Scheme</th>
                <td>@Model.User.Identity!.AuthenticationType</td>
            </tr>

            <tr>
                <th>Authenticated</th>
                <td>@(Model.User.Identity!.IsAuthenticated ? "Yes" : "No")</td>
            </tr>
        </tbody>
    </table>
</fluent-card>

<partial name="_Claims" model="@Model.User" />
<partial name="_Properties" model="@Model.Properties" />

<table class="table">
    <h4>External Schemes</h4>
    <thead>
        <tr>
            <th>
                Scheme
            </th>
            <th>
                Display Name
            </th>
            <th>
                Handler Type
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var scheme in Model.ExternalSchems)
        {
            <tr>
                <td>
                    @scheme.Name
                </td>
                <td>
                    @scheme.DisplayName
                </td>

                <td>
                    @scheme.HandlerType
                </td>
            </tr>
        }
    </tbody>
</table>