@page
@model DiagnosticsViewModel

@{
    ViewData["Title"] = "Diagnostics";
}

<h1>Diagnostics</h1>
<br/>

<fluent-card>
    <h4>Current User Information</h4>
    <table class="table">
        <tbody>
            <tr>
                <th>User Id</th>
                <td>@Model.CurrentUser.Id</td>
            </tr>
            <tr>
                <th>Authentication Scheme</th>
                <td>@Model.User.Identity!.AuthenticationType</td>
            </tr>
            <tr>
                <th>Authenticated</th>
                <td>@(Model.User.Identity!.IsAuthenticated ? "Yes" : "No")</td>
            </tr>
        </tbody>
    </table>
</fluent-card>

<partial name="_Claims" model="@Model.User" />
<partial name="_Properties" model="@Model.Properties" />
<partial name="_ExternalSchemes" model="@Model.ExternalSchemes" />
