@page "/error"

@model ErrorViewModel

@{
    var debugDetailsHeadingText = "Troubleshooting Details";
    var debugDetailsExplanationText = "Please provide this information when contacting your administrator.";

    ViewData["Title"] = "Error";
}

<div id="debug-details-banner" class="debug-details-banner table">
    <div class="table-row">
        <div class="table-cell">
            
            <div class="debug-details-header">
                <div id="debug-details-header" class="bold debug-details-heading-text">@debugDetailsHeadingText</div>
                <div>@debugDetailsExplanationText</div>
                <a id="copy-to-clipboard" href="#" role="button" aria-label="Copy information to clipboard" aria-describedby="debugDetailsHeader">
                    Copy information to clipboard
                </a>
            </div>

            <div class="debug-details-container">
                <div>
                    <span class="bold">Error Code:</span>
                    <span>@Model.ErrorCode</span>
                </div>

                <div>
                    <span class="bold">Request Id:</span>
                    <span>@Model.RequestId</span>
                </div>

                <div>
                    <span class="bold">Correlation Id:</span>
                    <span>@Model.CorrelationId</span>
                </div>

                <div>
                    <span class="bold">Timestamp:</span>
                    <span>@Model.Timestamp.ToString("yyyy-MM-ddT:HH:mm:ss.fffZ")</span>
                </div>
            </div>

            <div class="debug-trace-section">
                <div>
                    <span class="bold">Flag sign-in error for investigation:</span>
                    <a id="set-debug-mode" role="button" aria-label="Enable flag" href="#">Enable flag</a>
                </div>
                <div>
                    To get help with this issue, enable the flag, and then try to reproduce the error within 20 minutes. Flagged events are diagnostic and can alert your administrator.
                </div>
            </div>
        </div>
    </div>
</div>


<style>
    .debug-details-banner {
        margin-bottom: 28px;
        position: relative;
        margin-left: auto;
        margin-right: auto;
        color: #1b1b1b;
        background-color: #fff;
        padding: 24px 44px;
        font-size: 13px;
        max-width: 440px;
        min-width: 320px;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    }

    .table {
        width: 100%;
        display: table;
        table-layout: fixed;
    }

    .table-row {
        display: table-row;
    }

    .table-cell {
        display: table-cell;
        vertical-align: middle;
    }

    .debug-details-heading-text {
        font-size: 15px;
    }

    .debug-details-header {
        margin-bottom: 10px;
    }

    .debug-details-container {
        text-align: left;
    }

    .bold {
        font-weight: bold;
    }

    .debug-trace-section {
        margin-top: 10px;
    }
</style>